* {
	margin: 0;
	padding: 0;
}

#menu {
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 3px;
	list-style: none;
	width: 200px;
}

#menu .label {
	font: bold 16px/1.5 Helvetica, Verdana, sans-serif;
	text-align: left;
	background: #FFAE36;
	color: #014470;
	border: 2px solid #014470;
}

#menu .label:hover {

}

#menu li {
	position: relative;
	display: block;
	font: bold 14px/1.5 Helvetica, Verdana, sans-serif;
 	color: #FFAE36;
 	padding: 5px;
 	border: 1px solid #ccc;
 	text-align: center;
 	background: -webkit-linear-gradient(#014F95, #014470); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#014F95, #014470); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#014F95, #014470); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#014F95, #014470); /* Standard syntax */
}

#menu li:hover {
	background: #eee;
  	cursor: pointer;
}

#menu li ul {
	position: absolute;
	left: 149px;
	top: 0;
	display: none;
}

#menu li:hover ul { 
	display: block; 
}

#generalElement {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

#generalElement ul {
	list-style-type: none;
  	height: 600px;
  	overflow: hidden;
  	overflow-y: scroll;
}

#filmsList li {
  	padding: 10px;
  	overflow: auto;
  	background: -webkit-linear-gradient(#014F95, #014470); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#014F95, #014470); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#014F95, #014470); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#014F95, #014470); /* Standard syntax */
  	border-bottom: 1px solid #FF9D15;
}

#filmsList li:hover {
  	background: #eee;
  	cursor: pointer;
}

#filmsList h3 {
  	font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  	color: #FFAE36;
}
 
#filmsList li img {
  	float: left;
  	margin: 0 15px 0 0;
  	width: 15%;
}

#filmsList li #schedule {
	font-size: 18px;
	font-weight: bold;
}

#filmsList li #genre {
	text-align: left;
	font-size: 14px;
}

#filmsList li p {
  	font: 200 12px/1.5 Helvetica, Verdana, sans-serif;
  	color: #ffae36;
  	text-align: right;
}

#generalFilmInfo {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}



